@import '../../../core/styles/variables';

// * {
//     border: 1px solid red;
// }

.c-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 4rem;
        font-weight: 200;
        margin: 0 0 3rem 0;
        color: $text-dark;
    }

    &__home {
        display: flex;
        gap: 80px;

        &-detail {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            padding: 0 10px;
            width: 350px;
            height: 200px;

            cursor: pointer;

            transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
                background-color 0.4s ease,
                box-shadow 0.4s ease;

            &:hover {
                transform: scale(1.02);
            }

            h3,
            h2 {
                font-size: 0.8rem;
                font-weight: 300;
                letter-spacing: 0.3em;

                span {
                    vertical-align: super;
                    font-size: 0.6em;
                }
            }

            h2 {
                font-weight: 600;
                color: $secondary;
                margin-bottom: 10px;
            }

            h2 {

                &::before,
                &::after {
                    content: "";
                    height: 1px;
                    width: 60px;
                }
            }
        }
    }
}