@import '../../../core/styles/variables';

.c-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px);
    // border: 1px solid red;
    margin: auto 0;

    &__home {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid $text-secondary;
        border-radius: 10px;
        width: 500px;
        height: 400px;

        cursor: pointer;
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), 
                background-color 0.4s ease,
                box-shadow 0.4s ease;
                border-color: 0.4s ease;

        &:hover {
            transform: scale(1.02);
            background-color: rgba($text-secondary, 0.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            border-color: transparent;
        }

        &-detail {

            &--subtitle,
            &--description {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                font-size: 0.8rem;
                font-weight: 300;
                letter-spacing: 0.3em;
                color: #e8e8e8;
            }

            &--description {

                &::before,
                &::after {
                    content: "";
                    height: 1px;
                    width: 60px;
                    background: linear-gradient(to var(--direction, right),
                            transparent,
                            $text-secondary,
                            transparent);
                }
            }

            &--title {
                font-size: 3rem;
                font-weight: 200;
                margin: 3rem 0;
                color: #fff;
            }
        }
    }
}